[Desktop Entry]
Name=neovim
Exec=kitty -e /opt/nvim/nvim-linux-x86_64/bin/nvim
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Utility;

