// Theme: default 
$bg: #0d0c0b;
$bg-alt: #354847;
$fg: #b4c8da;

$black: #354847;
$lightblack: #7d8c98;

$red: #f7768e;
$green: #9ece6a;
$yellow: #e0af68;
$blue: #7aa2f7;
$magenta: #bb9af7;
$cyan: #7dcfff;

$archicon: #0f94d2;
